@tailwind base;
@tailwind components;
@tailwind utilities;

/* recreate the bootstrap container class */
.container {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}